@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Add your custom CSS here */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tapestry:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");

body {
  font-family: Baloo Bhai;
}

/* Add your custom styles here */
:root {
  --gradient-blue: linear-gradient(
    to right,
    var(--blue-light),
    var(--blue-dark)
  );
}

/* ***********theme css******** */
/* ******CSS copied from original css style sheet. moved this into one file to make it more uniformed and to fix issues with view
user profiles ***** */

/* body {
  font-family: sans-serif;
} */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* canvas {
  position: absolute;
  top: 0;
  left: 0;
} */

.whiteboard-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #333333;
  position: relative;
  overflow: hidden; /* Add this line to hide overflow */
}

.menu-container {
  width: 100%;
  height: 60px;
  background-color: #cccccc; /* Use a slightly darker background color */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-button {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Change to a circle shape with border-radius */
  border: none;
  transition: background-color 0.3s; /* Specify transition property explicitly */
  background-color: #fff1dc;
  display: flex; /* Add flex properties for centering the icon */
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Add cursor pointer on hover */
}

.menu-button:hover {
  background-color: #e8d5c4;
}

.menu-button-active {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Change to a circle shape with border-radius */
  border: none;
  background-color: #e8d5c4;
}

.cursor {
  transition: 0.1s;
}

/* *****theme button***** */

.theme-btn {
  height: 32px;
  width: 60px;
  border-radius: 20px;
  margin: 20px;
  background: #f2c13733;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  transition: all 0.33s ease-out;
}

.theme-btn .inner {
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #f2c137;
  transition: all 0.33s ease-out;
}

.theme-btn.dark {
  background: #26aef433;
}
.theme-btn.dark .inner {
  background-color: #26aef4;
  transform: translate(27px, 0);
}

body.dark {
  background-color: black;
  color: white;
}

a {
  color: black;
}
a.dark {
  color: white;
}
.activeNav {
  color: white;
}
.activeNav.dark {
  color: black;
}
.nonActiveNav {
  color: rgb(207, 202, 202);
}
.nonActiveNav.dark {
  color: rgb(58, 57, 57);
}
.mainName {
  color: white;
}
.mainName.dark {
  color: black;
}
.navbarArea {
  background-color: black;
  box-shadow: 10px 200px 50px black;
}
.navbarArea.dark {
  background-color: white;
  box-shadow: 10px 200px 50px white;
}
.online-status {
  height: 16px;
  background-color: #888;
  width: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.online-status div {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
button {
  background: black;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}
.nonActiveHomeTab {
  color: rgb(90, 88, 88);
}
.activeHomeTab {
  color: black;
}


/* *****Login Page Styling***** */

.slanted-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, black 40%, transparent 0%);
  z-index: -1;
}

.authForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 400px;
  height: auto;
  background-color: #f5f5f7;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: border-box;
}

.authForm-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.authForm-description {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
}

.synergyConnect-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.authForm-input {
  color: #f5f5f7;
  background-color: black;
  border-radius: 10px;
  padding: 4%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  max-width: 300px;
  height: auto;
  background-color: #f5f5f7;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.8);
  padding: 20px;
  box-sizing: border-box;
}

.authForm-input-wrapper-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.authForm-container h2 {
  margin-top: 5%;
  margin-bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .authForm,
  .signup {
    width: 90%;
    max-width: 350px;
  }

  .authForm-description {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }

  .synergyConnect-title {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .authForm,
  .signup {
    width: 95%;
    max-width: 300px;
  }

  .authForm-container h2 {
    margin-top: 10%;
  }
}





